/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B8B4FF;
    padding: 10px;
    text-align: center;
}

header input {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
}

.navbar-expand-lg_bg-body-tertiary {
    background-color: #a389c0;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.featured-products {
    padding: 20px;
}

.product {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.product img {
    width: 150px;
    height: 150px;
}
img{
    width: 100px;
}
